.icon--area {
  width: 37.2px;
  height: 23.36px;
}
.icon--best {
  width: 26.12px;
  height: 32.53px;
}
.icon--check {
  width: 53px;
  height: 53px;
}
.icon--close-old {
  width: 18.75px;
  height: 18.75px;
}
.icon--close {
  width: 19.99px;
  height: 19.99px;
}
.icon--fb {
  width: 29px;
  height: 29px;
}
.icon--house {
  width: 35px;
  height: 26px;
}
.icon--logo-white {
  width: 54.331px;
  height: 53.679px;
}
.icon--meeting {
  width: 34.5px;
  height: 27.5px;
}
.icon--pardubice {
  width: 42.1px;
  height: 28.33px;
}
.icon--pig {
  width: 29px;
  height: 20.25px;
}
.icon--price {
  width: 41.23px;
  height: 22.56px;
}
.icon--scroll {
  width: 21.74px;
  height: 21.75px;
}