doctype html
html(lang="cs")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title Východočeská hypotéka

    meta(name="description" content="")
    meta(name="keywords" content="")
    meta(name="author" content="")
    meta(name="robots" content="index, follow")
    meta(name="title" content="")

    meta(property="og:title" content="")
    meta(property="og:type" content="website")
    meta(property="og:url" content="")
    meta(property="og:description" content="")
    meta(property="og:image" content="")

    link(rel="icon" type="image/png" href="/image.png")

    link(rel="stylesheet" href="/css/main.css")

  body

    .container#top

      header.header--top
        .header__inner
          a.logo.scrollto(href="#top") Východočeská
            span hypotéka

          a.nav--mobile(href="#")
            span.line.line--1
            span.line.line--2
            span.line.line--3
            span.text Menu

          nav.nav.nav--top
            ul.nav--top__list
              li.nav--top__list__item
                a.nav--top__list__item__link.scrollto(href="#floor--6" data-tab="tab--1") Nový úvěr
                  span.nav--top__list__item__link__moto Kupuji nemovitost nebo rekonstruuji
              li.nav--top__list__item
                a.nav--top__list__item__link.scrollto(href="#floor--6" data-tab="tab--2") Mám úvěr
                  span.nav--top__list__item__link__moto Refinancuji
              li.nav--top__list__item
                a.nav--top__list__item__link(href="#") Kontakt
                  span.nav--top__list__item__link__moto Potřebuji poradit

      .floor#floor--1
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;"> <symbol id="close" viewBox="0 0 18.75 18.75"> <path d="M1.5 1.5l15.75 15.75M17.25 1.5L1.5 17.25"/> </symbol> <symbol id="fb" viewBox="0 0 29 29"> <circle fill="none" stroke="#67AD2A" stroke-width="2" stroke-miterlimit="10" cx="14.5" cy="14.5" r="13.5"/><path fill="#67AD2A" d="M15.71 10.786h1.005V9.1h-1.23v.008c-1.927.07-2.323 1.184-2.357 2.355h-.004v1.354h-.984v1.686h.984V19.9h1.967v-5.397h1.477l.292-1.686H15.09v-1.222c0-.395.255-.81.62-.81z"/> </symbol> <symbol id="logo-white" viewBox="0 0 54.331 53.679"> <path fill-rule="evenodd" clip-rule="evenodd" d="M30.79 32.877c-3.002 0-5.7 1.284-7.603 3.317l.007-.03-.132.172c-.132.143-.264.292-.39.45-1.208 1.315-4.33 3.936-6.707-.86l-.008.054c-1.052-1.922-2.83-3.367-4.985-3.966.025-.015.057-.022.057-.022-4.687-1.708-2.768-4.66-1.962-5.635.053-.05.093-.114.143-.167.09-.1.147-.157.147-.157l-.022.004c.803-.93 1.305-2.13 1.305-3.456 0-2.934-2.382-5.316-5.32-5.316S0 19.646 0 22.58c0 1.78.88 3.34 2.214 4.305l-.024.004c4.436 2.952 1.21 6.532-.136 8.266.007 0 .018-.004.025-.007C1.125 36.49.552 38.123.552 39.9c0 4.54 3.676 8.216 8.217 8.216 2.286 0 4.35-.927 5.838-2.436v.018s3.855-4.554 6.676 1.8l.004-.01c1.615 3.645 5.26 6.19 9.504 6.19 5.74 0 10.395-4.657 10.395-10.402 0-5.742-4.655-10.4-10.396-10.4zm20.303-13.242h.007c-1.056-.488-5.003-1.105-2.757-5.32l-.01.003c.68-1.013 1.077-2.23 1.077-3.545 0-3.516-2.85-6.365-6.366-6.365-1.57 0-2.985.588-4.09 1.526.004-.01.007-.03.01-.036-1.133.963-4.532 3.688-7.267-1.655 0 0-.007.032-.007.054C30.29 1.747 27.617 0 24.507 0c-4.543 0-8.224 3.68-8.224 8.22 0 4.54 3.68 8.224 8.224 8.224 2.086 0 3.973-.803 5.42-2.086v.047c.105-.107.24-.232.386-.364.004-.003.004-.003.007-.01 1.58-1.43 5.243-4.076 7.118-.235.003-.02.007-.032.007-.043.93 1.744 2.635 3 4.668 3.295l-.064.032s4.375.33 2.074 5.356h.004c-.278.642-.435 1.352-.435 2.1 0 2.935 2.382 5.32 5.32 5.32 2.94 0 5.318-2.385 5.318-5.32 0-2.2-1.332-4.087-3.237-4.9z"/> </symbol> <symbol id="scroll" viewBox="0 0 21.74 21.75"> <title>scroll</title><path d="M19 8.25l-8.17 8.17L2.7 8.25 0 11l10.79 10.75.08-.08.08.08L21.74 11zm-4-4.12L10.87 0 6.75 4.13l4.13 4.13z" fill="#96731f" fill-rule="evenodd"/> </symbol></svg>
        .floor__inner
          h1.headline Jste z výhodních Čech?
            span.subheadline My také!

          ul.questions
            li Chcete hypotéku více než 0,3&nbsp;mil.&nbsp;Kč?
            li Chcete úrok lepší než 1,80%?

          a.button.scrollto(href="#floor--6") Nezávazná poptávka

          a.scrolldown.scrollto(href="#floor--2")
            svg.icon.icon--scroll
              use(xlink:href="/img/sprite.svg#scroll")

      .floor.floor--padded#floor--2
        .floor__inner
          h2 Jak vám můžeme pomoci

          ul.benefits
            li
              svg.icon.icon--house
                use(xlink:href="/img/sprite.svg#house")
              strong Zdarma zpracování úvěru
              span Běžný poplatek až 2&nbsp;900&nbsp;Kč u&nbsp;nás neplatíte.

            li
              svg.icon.icon--pig
                use(xlink:href="/img/sprite.svg#pig")
              strong Zdarma vedení úvěru
              span Běžný poplatek 200&nbsp;Kč/měsíčně u&nbsp;nás neplatíte.

            li
              svg.icon.icon--price
                use(xlink:href="/img/sprite.svg#price")
              strong Zdarma odhad nemovitosti
              span Běžný poplatek až&nbsp;6&nbsp;000&nbsp;Kč u&nbsp;nás neplatíte.

            li
              svg.icon.icon--area
                use(xlink:href="/img/sprite.svg#area")
              strong Zdarma vklad na katastr
              span Běžný poplatek až&nbsp;1&nbsp;000&nbsp;Kč u&nbsp;nás neplatíte.

      .floor.floor--padded.floor--stripe.floor--brown#floor--3
        .floor__inner
          p Pomůžme vám ušetřit až&nbsp;21&nbsp;900&nbsp;Kč
          a.button.button--white.scrollto(href="#floor--6") Chci se dozvědět více

      .floor.floor--grey#floor--4
        .floor__inner
          h2 Komu jsme již pomohli

          .clients
            article.clients__item
              .client
                p.client__text Pan Dlouhý je&nbsp;velmi vnímavý a&nbsp;po&nbsp;pár dotazech si ihned udělal obrázek o&nbsp;mé situaci a&nbsp;neskutečně mi pomohl. Rozhodně bych neměnila a&nbsp;vím , že&nbsp;se&nbsp;na&nbsp;něho mohu kdykoliv obrátit. Poprvé mám v&nbsp;někoho důvěru. A&nbsp;za&nbsp;to&nbsp;moc děkuji.</p>
                span.client__author Lucie Stránská, účetní <br>Pardubice

            article.clients__item
              .client
                p.client__text Nejenom touto cestou a&nbsp;ne naposledy bych chtěl poděkovat za&nbsp;více než profesionální přístup pana Jana Dlouhého.&nbsp;Je&nbsp;naprosto patrné, že&nbsp;svou práci dělá především s&nbsp;naprostým ohledem na&nbsp;klienta.</p>
                span.client__author Štěpán Kreibich, dispečer <br>Hradec Králové

            article.clients__item
              .client
                p.client__text Muž na&nbsp;svém místě, mám-li být stručný.&nbsp;Pan Jan Dlouhý jednal po&nbsp;celou dobu naší spolupráce naprosto seriózně, trpělivě a&nbsp;vstřícně. Rozhodně doporučuji všem potenciálním zájemcům využít jeho služeb.</p>
                span.client__author David Závozný, IT pracovník <br>Chrudim

            article.clients__item
              .client
                p.client__text Chtěla bych Vám moc poděkovat za&nbsp;zprostředkování hypotéky. Ráda Vás všude doporučím a&nbsp;všude Vás budu jen&nbsp;a&nbsp;jen&nbsp;chválit... :) Přeji Vám spoustu spokojených klientů :)
                span.client__author Eliška Hůlková, PR manager<br>Pardubice



      .floor#floor--5
        .floor__inner
          h2 Naši partneři

          .partners
            a.partner(href="#")
              img.partner__image(src="../img/logos/akcenta.jpg" alt="Akcenta")
            a.partner(href="#")
              img.partner__image(src="../img/logos/ceska-sporitelna-stavebni-sporitelna.jpg" alt="ČSSS")
            a.partner(href="#")
              img.partner__image(src="../img/logos/ceskasporitelna.jpg" alt="Česká spořitelna")
            a.partner(href="#")
              img.partner__image(src="../img/logos/csob.jpg" alt="ČSOB")
            a.partner(href="#")
              img.partner__image(src="../img/logos/equabank.jpg" alt="Equabank")
            a.partner(href="#")
              img.partner__image(src="../img/logos/expobank.jpg" alt="Expobank")
            a.partner(href="#")
              img.partner__image(src="../img/logos/ge-money-bank.jpg" alt="GE Money Bank")
            a.partner(href="#")
              img.partner__image(src="../img/logos/hypotecni-banka.jpg" alt="Hypotéční banka")
            a.partner(href="#")
              img.partner__image(src="../img/logos/kb.jpg" alt="KB")
            a.partner(href="#")
              img.partner__image(src="../img/logos/mbank.jpg" alt="mBank")
            a.partner(href="#")
              img.partner__image(src="../img/logos/modra-pyramida.jpg" alt="Modrá pyramida")
            a.partner(href="#")
              img.partner__image(src="../img/logos/oberbank.jpg" alt="Oberbank")
            a.partner(href="#")
              img.partner__image(src="../img/logos/raiffeisen-bank.jpg" alt="Raiffeisen Bank")
            a.partner(href="#")
              img.partner__image(src="../img/logos/raiffeisen-bank-stavebni-sporitelna.jpg" alt="Raiffeisen Bank Stavební spořitelna")
            a.partner(href="#")
              img.partner__image(src="../img/logos/sberbank.jpg" alt="Sberbank")
            a.partner(href="#")
              img.partner__image(src="../img/logos/unicredit-bank.jpg" alt="UniCredit Bank")
            a.partner(href="#")
              img.partner__image(src="../img/logos/wustenrot.jpg" alt="Wustenrot")
            a.partner(href="#")
              img.partner__image(src="../img/logos/wustenrot-hypotecnibanka.jpg" alt="Wustenrot hypo")

      .floor.floor--padded#floor--6
        .floor__inner
          .tabs
            ul.tabs__header
              li.tabs__header__item.tabs__header__item--active
                a.tabs__header__item__link(href="#tab--1") Kupuji nemovitost
              li.tabs__header__item
                a.tabs__header__item__link(href="#tab--2") Refinancuji hypotéku

            .tab.tab--active#tab--1
              form.form.form--tab--1
                div.tab__split.tab__split--1
                  ul.checks
                    li.check.check--pardubice
                      div
                        svg.icon.icon--pardubice
                          use(xlink:href="/img/sprite.svg#pardubice")
                      span Jsem z oblasti Pardubicka.

                    li.check.check--best
                      div
                        svg.icon.icon--best
                          use(xlink:href="/img/sprite.svg#best")
                      span Chci získat nejvýhodnější nabídku na trhu.

                    li.check.check--meeting
                      div
                        svg.icon.icon--meeting
                          use(xlink:href="/img/sprite.svg#meeting")
                      span Chci zdarma nezávaznou konzultaci.

                div.tab__split.tab__split--2
                  .form__row
                    span.label Výše hypotéky
                    #moneyValue
                    input(type="hidden" name="moneValueInput" id="moneyValueInput")

                    input(type="radio" name="hypoType" id="hypoType_1" value="kupuji" checked)
                    input(type="radio" name="hypoType" id="hypoType_2" value="refinancuji")

                  <!-- pro zobrazeni chyboveho stavu staci pridat tridu .form_row--error -->
                  .form__row.form__row--margin-top
                    input(type="text" name="name" placeholder="Karel Novák")

                  .form__row.form__row--margin-bottom
                    input(type="text" name="contact" placeholder="Telefon nebo e-mail")

                  .form__row.form__row--submit

                    <!-- pro zobrazeni staci oddelat tridu .hidden -->
                    .form__layer--error.hidden
                      p.form__layer--error__text Zapomněli jste vyplnit své jméno.

                    button.button(type="submit") Odeslat

                    span.button__info Chci získat nezávaznou&nbsp;konzultaci!

                  <!-- pro zobrazeni staci oddelat tridu .hidden -->
                  .form__layer--success.hidden
                    .form__layer--success__content
                      svg.icon.icon--check
                        use(xlink:href="/img/sprite.svg#check")
                      strong.form__layer--success__title Děkujeme
                      span.form__layer--success__text Do dalšího dne se vám ozveme.

            .tab#tab--2
              p lorem ipsum

      .floor.floor--grey#floor--7
        .floor__inner
          .news
            a.news__item(href="#news_1")
              img.news__item__cover(src="//satyr.io/335x230" alt)
              h1.news__item__title 10 nejčastějších chyb při žádosti o hypotéku

            a.news__item(href="#news_2")
              img.news__item__cover(src="//satyr.io/335x230" alt)
              h1.news__item__title 10 nejčastějších chyb při žádosti o hypotéku

            a.news__item(href="#news_3")
              img.news__item__cover(src="//satyr.io/335x230" alt)
              h1.news__item__title 10 nejčastějších chyb při žádosti o hypotéku

            .news__details.hidden
              article.news__details__item.hidden#news_1
                div.news__cover
                  img.news__cover__image(src="/img/article-detail.jpg" alt)
                div.news__content
                  h1.news__content__title Zdarma zpracování úvěru
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                  p
                    strong Nemo enim ipsam voluptatem quia voluptas sit aspernatur.
                  p Aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

              article.news__details__item.hidden#news_2
                div.news__cover
                  img.news__cover__image(src="/img/article-detail.jpg" alt)
                div.news__content
                  h1.news__content__title Zdarma zpracování úvěru přes internet
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                  p
                    strong Nemo enim ipsam voluptatem quia voluptas sit aspernatur.
                  p Aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

              article.news__details__item.hidden#news_3
                div.news__cover
                  img.news__cover__image(src="/img/article-detail.jpg" alt)
                div.news__content
                  h1.news__content__title Zdarma zpracování úvěru a další zpracování čehokoliv jako bonus
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                  p
                    strong Nemo enim ipsam voluptatem quia voluptas sit aspernatur.
                  p Aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.


              a.news__detail__close(href="#")
                svg.icon.icon--close
                  use(xlink:href="/img/sprite.svg#close")

    //script(src="http://localhost:8888/js/main.js")
    //script(src="../js/vendor/jquery.min.js")
    //script(src="../js/vendor/slick.min.js")
    //script(src="../js/vendor/nouislider.min.js")
    //script(src="../js/main.js")

    script(src="http://localhost:8888/js/main.js")

