.DS_Store
._.DS_Store
._*
.project
.buildpath
.settings/
.cache/
uploads/
t/
tr/
sf/
data/
/log/
log.old/
/cache/
!lib/cache/
config/databases.yml
data/search/
data/newsletter/
.idea/
/node_modules/
.yo-rc.json
.virtualhost-generator.js
